.button {
    background-color: rgb(52, 67, 94);
    box-shadow: 4.1px 8.2px 8.2px hsl(0deg 0% 0% / 0.37);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #EFE6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
}

.button:hover {
    box-shadow: 6.0px 12.0px 12.0px hsl(0deg 0% 0% / 0.31);
}